.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 200px;
  height: 250px;
  float: left;
  margin: 10px;
}
.card .container {
  position: relative;
  bottom: 66px;
  background: #fff;
  z-index: 0;
}
